mixin head(array)
	meta(charset='UTF-8')
	title!=array.page_title
	meta(name="viewport", content="width=device-width")
	meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="format-detection", content="telephone=no")
	link(rel="stylesheet" media="all" href="styles/styles.css")

//----------------------------------------
mixin mtdInputWrapper(config)
	- wrapperClass = config.wrapper || mtdFieldsWrapper.default
	- inputClass = config.class || mtdFields.types.default
	div(class= `${wrapperClass}`)
		block

mixin mtdInput(config)
	case config.attrs.type
		when 'checkbox'
			input(class= `${inputClass[1]}`)&attributes(config.attrs)
			span(class= `${wrapperClass}__text ${mtdFields.mods.checkboxTextSpan}`)= config.label
		when 'radio'
			input(class= `${inputClass[1]}`)&attributes(config.attrs)
			span(class= `${wrapperClass}__text ${mtdFields.mods.radioTextSpan}`)= config.label
		when 'file'
			input(class= `${inputClass[1]}`)&attributes(config.attrs)
			span(class= `${inputClass[1]}_cta`)= config.label
		default
			input(class= `${inputClass[1]}`)&attributes(config.attrs)

mixin mtdLabel(config, showLabelText)
	- mods = config.mods || ''
	case showLabelText
		when false
			label(class= `${inputClass[0]} ${mods}` for= config.attrs.id)
				block
		default
			label(class= `${inputClass[0]} ${mods}` for= config.attrs.id)= config.label
				block

mixin mtdTextarea(config)
	textarea(class= `${inputClass[1]}`)&attributes(config.attrs)

mixin select(config)
	+mtdInputWrapper(config)
		+mtdLabel(config)
		select(class= `${inputClass[1]}`)&attributes(config.attrs)
			each option in config.options
				option(value= option)= option

mixin input(config)
	+mtdInputWrapper(config)
		+mtdLabel(config)
		+mtdInput(config)

mixin textarea(config)
	+mtdInputWrapper(config)
		+mtdLabel(config)
		+mtdTextarea(config)

mixin checkbox(config)
	+mtdInputWrapper(config)
		+mtdLabel(config, false)
			+mtdInput(config)

mixin radiobutton(config)
	+mtdInputWrapper(config)
		+mtdLabel(config, false)
			+mtdInput(config)

mixin file(config)
	+mtdInputWrapper(config)
		+mtdLabel(config, false)
			+mtdInput(config)
