mixin head(array)
	meta(charset='UTF-8')
	title!=array.page_title
	meta(name="viewport", content="width=device-width")
	meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="format-detection", content="telephone=no")
	link(rel="stylesheet" media="all" href="styles/styles.css")

//----------------------------------------
mixin default_input(config)
	-classes = config.class || ''
	case config.attrs.type
		when 'checkbox'
			input(class= `${fields.types.checkbox} ${classes}`)&attributes(config.attrs)
			span.form-field__text.form-field__text_check= config.label
		when 'radio'
			input(class= `${fields.types.radio} ${classes}`)&attributes(config.attrs)
			span.form-field__text.form-field__text_radio= config.label
		when 'file'
			input(class= `${fields.types.file} ${classes}`)&attributes(config.attrs)
			span(class= `${fields.types.file}_cta`)= config.label
		default
			input(class= `${fields.types.default} ${classes}`)&attributes(config.attrs)

mixin default_label(config, showLabelText)
	-mods = config.mods || ''
	case showLabelText
		when false
			label(class= `${fields.label} ${mods}` for= config.attrs.id)
				block
		default
			label(class= `${fields.label} ${mods}` for= config.attrs.id)= config.label
				block

mixin default_textarea(config)
	textarea(class= `${fields.types.textarea} ${classes}`)&attributes(config.attrs)

mixin input(config)
	.form-field
		+default_label(config)
		+default_input(config)

mixin textarea(config)
	.form-field
		+default_label(config)
		+default_textarea(config)

mixin checkbox(config)
	.form-field
		+default_label(config, false)
			+default_input(config)

mixin radiobutton(config)
	.form-field
		+default_label(config, false)
			+default_input(config)

mixin file(config)
	.form-field
		+default_label(config, false)
			+default_input(config)

mixin select(config)
	-classes = config.class || ''
	.form-field
		+default_label(config)
		select(class= `${fields.types.select} ${classes}`)&attributes(config.attrs)
			each option in config.options
				option(value= option)= option
